<!DOCTYPE html>
<html>
<head>
    <title>Create Issue</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Create Issue for <%= project.name %></h1>
    <form action="/projects/<%= project._id %>/issues" method="POST">
        <ol>
            <li>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required>
            </li>
            <li>
                <label for="description">Description:</label>
                <textarea id="description" name="description" required></textarea>
            </li>
            <li>
                <label for="labels">Labels (comma separated):</label>
                <input type="text" id="labels" name="labels">
            </li>
            <li>
                <label for="author">Author:</label>
                <input type="text" id="author" name="author" required>
            </li>
            <li>
                <button type="submit">Create Issue</button>
            </li>
        </ol>
    </form>
</body>
</html>
