<!DOCTYPE html>
<html>
<head>
    <title>Create Project</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Create New Project</h1>
    <form action="/projects" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author">
        <button type="submit">Create</button>
    </form>
</body>
</html>
