<!DOCTYPE html>
<html>
<head>
    <title>Issue Tracker</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Projects</h1>
    <ul>
        <% projects.forEach(function(project) { %>
            <li><a href="/projects/<%= project._id %>"><%= project.name %></a></li>
        <% }); %>
    </ul>
    <a href="/projects/new">Create New Project</a>
</body>
</html>
